<div class="row">
        <div class="col-md-12">
          Please select one option.
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
           <a class="btn btn-primary" href="/game/paper/" role="button">Paper</a>
          </div>
          <div class="col-md-4">
           <a class="btn btn-primary" href="/game/rock/" role="button">Rock.</a>      
          </div>
          <div class="col-md-4">
           <a class="btn btn-primary" href="/game/scissors/" role="button">Scissors.</a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
          {{gameResult}}
         </div>
        </div>
