      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1><small>Come play</small><br/>Rock Paper Scissors<br/><small>against the server.</small></h1>
        <p>The server is a fierce opponent. You should be worried.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Start playing</a>
        </p>
      </div>